<%
var publishTimestamp = page.date.valueOf();
%>
<div class="post-container container">
  <h3>
    <i class="fa fa-user"></i>
    <%= config.author || '' %>
    &nbsp;
    
    <i class="fa fa-calendar"></i>
  	<%= page.date.format('YYYY-MM-DD') %>
  	&nbsp;
  	
  	<i class="fa fa-folder-open"></i>
  	<% page.categories.forEach(function(tag){ %>
            <a href="<%= url_for(tag.path) %>"><%= tag.name %></a>
            <% }) %>
	&nbsp;
	
	<i class="fa fa-eye"></i>
    <span id="busuanzi_container_page_pv">
  		瀏覽次數：<span id="busuanzi_value_page_pv"></span>次
	</span>

    <span class="post-date float-right" title="{{moment(<%= publishTimestamp %>).format('MMM DD, YYYY, h:mm:ss A')}}">
      <i class="fa fa-pencil-square-o"></i>
      {{moment(<%= publishTimestamp %>).fromNow()}}
    </span>
  </h3>

  <article class="post-content">
    <h1><%= page.title || 'Untitle' %></h1>
    <%- page.content %>
  </article>
</div>

<% if (config.gitalk ) { %>
    <%- partial('_widget/gitalk') %>
<% }else{ %>
    <%- partial('_widget/disqus') %>
<% } %>
