<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<%
config.social = config.social || {};
theme.social = theme.social || {};
var github = config.social.github || theme.social.github;
var weibo = config.social.weibo || theme.social.weibo;
var linkedin = config.social.linkedin || theme.social.linkedin;
var location = config.location || theme.location;
var url = config.url;
var flagcounter_href = config.flagcounter_href;
var flagcounter_img_src = config.flagcounter_img_src;
%>
<div class="footer-wrapper container">
  <footer class="footer clearfix">
    <div class="clearfix">
    <a href="<%= config.url %>" class="footer-logo">
      <i class="fa fa-github"></i>
    </a>
    <ul class="footer-social-link">
      <li>© 2019 <%= config.author %></li>
      <li><a href="<%= url %>">Home</a></li>
      <% if(github){ %>
      <li><a rel="external nofollow" href="<%= github %>">Github</a></li>
      <% }if(weibo){ %>
      <li><a rel="external nofollow" href="<%= weibo %>">Weibo</a></li>
      <% }if(linkedin){ %>
      <li><a rel="external nofollow" href="<%= linkedin %>">Linkedin</a></li>
      <% } %>
    </ul>
    <div class="footer-theme-info">
      Theme <a rel="external nofollow" href="//github.com/sabrinaluo/hexo-theme-replica">Replica</a>
      by <a rel="external nofollow" href="//github.com/sabrinaluo">Hiitea</a> ❤ Powered by Hexo
    </div>
    </div>
    <% if(flagcounter_href){ %>
    <div class="footer-pageview">
        <a rel="external nofollow" href="<%= flagcounter_href %>">
          <img src="<%= flagcounter_img_src %>">
        </a>
    </div>
    <% } %>
    
	<i class="fa fa-eye"></i>
	<span id="busuanzi_container_site_pv">
    	本站總瀏覽量：<span id="busuanzi_value_site_pv"></span>次
	</span>
	<i class="fa fa-eye"></i>
	<span id="busuanzi_container_site_uv">
  		本站訪客數：<span id="busuanzi_value_site_uv"></span>人次
	</span>
	<i class="fa fa-eye"></i>
    <span id="busuanzi_container_page_pv">
  		瀏覽次數：<span id="busuanzi_value_page_pv"></span>次
	</span>
	
  </footer>
</div>
