<%
var tags = page.tags ? page.tags.data : '';
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>
    <%= (page.title || config.title) + (page.title ? ' | ' + config.title : '') %>
  </title>
  <meta name="description" content="<%= config.description %>">
  <%
  if(tags){ %>
  <meta name="keywords" content="
  <%= tags.map(function(tag) {
    return tag.name
  }).join(',') %>
  ">
  <% } %>
  <meta name="author" content="<%= config.author %>">

  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp">

  <link rel="icon" type="image/x-icon" href="<%= config.favicon %>">
  <link rel="stylesheet" href="<%= config.root %>css/main.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- partial('_widget/google-analytics') %>
  <%- partial('_widget/baidutongji') %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.25-csp/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  
  <!-- fancybox support -->
<% if(theme.fancybox === true && page.fancybox !== false) { %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="<%= config.root %>js/fancybox/jquery.fancybox.min.js"></script>
	<script src="<%= config.root %>js/wrapImage.js"></script>
	<link rel="stylesheet" href="<%= config.root %>js/fancybox/jquery.fancybox.min.css">
<% } %>

</head>
