<% function link_url(i) {
    return url_for(i === 1 ? page.base : page.base + config.pagination_dir + '/' + i + '/');
}
function pagination(c, m) {
    var current = c,
            last = m,
            delta = 1,
            left = current - delta,
            right = current + delta + 1,
            range = [],
            elements = [],
            l;
    for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || (i >= left && i < right)) {
            range.push(i);
        }
    }
    for (let i of range) {
        if (l) {
            if (i - l === 2) {
                elements.push(`<li><a href="${ link_url(l + 1) }">${ l + 1 }</a></li>`);
            } else if (i - l !== 1) {
                elements.push(`<li><span>&hellip;</span></li>`);
            }
        }
        elements.push(`<li><a class="${ c === i ? 'active' : ''}" href="${ link_url(i) }">${ i }</a></li>`);
        l = i;
    }
    return elements;
} %>
<div class="center">
<nav class="pagination">
  <% if (page.prev){ %>
  <li><a href="<%- config.root %><%- page.prev_link %>"><%= __('«') %></a></li>
  <% } %>
  <% pagination(page.current, page.total).forEach(element => { %>
  <%- element %>
  <% }) %>
  <% if (page.next){ %>
  <li><a href="<%- config.root %><%- page.next_link %>"><%= __('»') %></a></li>
  <% } %>
</nav>
</div>
