nav.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav.pagination li {display: inline;}

nav.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

nav.pagination li span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav.pagination li a.active {
    background-color: #9a9fa4;
    color: white;
    border: 1px solid #9a9fa4;
}

nav.pagination li a:hover:not(.active) {background-color: #8b9094;}
div.center {text-align: center;}
